{% extends 'layout.html' %}

{% block body %}
  <h1>Adverts</h1>
  <h4 class="text-muted">Total number of Ads: {{total_ad.total}}</h4>
  <div class="col-md-9 text-right">
    <a class="btn btn-danger" href="/add_advert">Place an Ad</a>
  </div><a class="btn btn-default" href="/all_comments">All Comments</a><a class="btn btn-default" href="/all_ads">All Ads</a>
  <a class="btn btn-default" href="/all_posts">All Posts</a>
  <div class="container">
    <hr>
  {% for advert in adverts %}
  <div class="card col-lg-12 ">
    <ul class="list-group">
      <div class="card-block  ">
        <div class="card-header">
          
          <h3 class="card-title font-weight-bold text-danger">{{advert.title}} </h3>
          <h5 class="card-subtitle mb-2 text-muted">Written by {{advert.author}} | {{advert.create_date}} </h5>
        </div>
        <div class="card-body">
          <h5 class="card-subtitle mb-2 text-muted">Location: {{advert.location}}</h5>
          <p class="card-text ">{{advert.body| safe}}</p>
          <div class="card-footer text-muted mb-2 mt-2">
           <a href="advert/{{advert.id}}" class="btn btn-warning">Read More</a> 
          </div>
          
        </div>
        <hr>
    </ul>
</div>
 {% endfor %}
</div>



{% endblock %}
