{% extends 'layout.html' %}

{% block body %}

<div class="card col-lg-8">
  <div class="card-header">
    <h1>{{advert.title}}</h1>
    <h3>{{advert.location}}</h3>
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>{{advert.body | safe}}</p>
      <footer class="blockquote-footer"><a href="/user/{{advert.author}}"> Written by {{advert.author}}</a> on {{advert.create_date}}</footer>
    </blockquote>
  </div>
</div>
 
  <h3>Add Comment</h3>
  <a class="btn btn-warning" href="/add_comment/{{advert.id}}"> Add comment</a>



  <hr>
  
  <div class="col-lg-8 order-lg-2">
    <h3>Comments</h3>
    <h5 class="text-muted">Total number of Comments: {{total_comments.total}}</h5>
    <ul class="list-group">
      {% for comment in comments %}
      <li class="list-group-item-warning"><h5 class="card-header"><a href="/user/{{comment.author}}"> {{comment.author}} </a>Date:  {{comment.create_date}}  | {{comment.location}}</h5></li>
        <li class="list-group-item">{{comment.body |safe}}</li>
        {% if comment.author == session.username %}
          <form action="{{url_for('delete_comment', id=comment.id)}}" method="post">
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" value="Delete" class="btn btn btn-default pull-right">
          </form>
          <p><a href="/edit_comment/{{comment.id}}" class="btn btn-default pull-right">Edit Comment</a></p>
        {% endif %}
      {% endfor %}
    </ul>
</div>
{% endblock %}
